.app {
  min-height: 100vh;
  padding-bottom: 4rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.view-wrap {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .main {
    padding: 0 2rem;
  }
  .view-wrap {
    padding-top: 2rem;
  }
}
